{% extends "base.html" %}
{% block header %}Privacy&Policy{% endblock header %}
{% block title %}Privacy policy{% endblock title %}

{% block content %}
<h1 style="text-align: center;">Privacy&Policy</h1>
<section id="privacy">
    <article>
        <h2>Information We Collect</h2>
        <details>
            <summary>To provide you with exceptional travel services, we may collect the following types of personal information:</summary>
            <ul>
                <li><h3>Personal Identification Information</h3> Your name, email address, phone number, postal address, and date of birth.</li>
                <li><h3>Booking Details</h3> Information related to your travel arrangements such as flight details, accommodation, travel preferences, and travel companions.</li>
                <li><h3>Travel Documentation</h3> Passport numbers, visa details, and other identification documents necessary for booking and travel arrangements.</li>
                <li><h3>Marketing Preferences</h3> Information about your interests to offer customized deals and promotions.</li>
            </ul>               
        </details>
    </article>

    <article>
        <h2>How We Use Your Information</h2>
        <details>
            <summary>We collect and process your data for the following purposes:</summary>
            <ul>
                <li><h3>Booking and Travel Arrangements</h3>To process bookings, issue tickets, manage itineraries, and provide customer support during your travels.</li>
                <li><h3>Communication</h3>To send booking confirmations, updates, special offers, and notifications relevant to your travel plans.</li>
                <li><h3>Legal Obligations</h3>To comply with regulatory requirements and legal obligations, including visa applications, customs, and immigration.</li>
                <li><h3>Marketing</h3>To provide personalized travel recommendations, promotions, and services, based on your preferences</li>
            </ul>               
        </details>
    </article>

    <article>
        <h2>Data Security</h2>
        <p>We are committed to protecting your personal information from unauthorized access, loss, or misuse.<br>
        Our systems and processes are designed to implement stringent security measures, including encryption,<br>
        secure servers, and access controls.</p>
    </article>

    <article>
        <h2>Cookies and Tracking Technologies</h2>
        <p>Our website uses cookies and similar tracking technologies<br> to enhance your experience, gather<wbr>
            analytical data, and improve our services.<wbr> By using our website, you consent to our use of cookies.<wbr>
            You may adjust your browser settings to decline cookies,<wbr> but this may affect your user experience.</p>
    </article>
    <hr>
    <article>
        <h2>Contact Us</h2>
        <ul>
            <li>Email: tripvoyage@gmail.com</li>
            <li>Phone: +375291111111</li>
        </ul>
    </article>
</section>
{% endblock content %}